@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  color: black;
  background: white;
  animation: fadeInAnimation ease 3s;
}
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
.btn {
  height: 50px;
  max-width: 250px;
  min-width: 250px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 5px;
}
.work {
  border: 1px solid black;
}

main {
  min-height: 100%;
}

.link-bg {
  font-family: sans-serif;
  background-image: url("https://images.unsplash.com/photo-1557672172-298e090bd0f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  height: 100%;
}
.main {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  margin: 50px auto;
}

.profile-pic {
  border-radius: 50%;
  margin: 0 auto;
}
.bio {
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.button {
  background-color: #fff;
  padding: 16px 20px;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

.button:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.mobile-link {
  transition: all 3s ease;
}
